* {
	box-sizing: border-box;
	margin: 0;
}
div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	background-color: white;
	max-width: 200px;
	max-height: 200px;
}

.card {
	/* background-image: url("https://p1.hiclipart.com/preview/856/68/867/xy-blanks-basic-fire-pokemon-card-template-png-clipart.jpg"); */
	background-size: contain;
	background-repeat: no-repeat;

	/* background-color: lightgray; */
	max-width: 300px;
	/* box-shadow: 10px 10px 10px gray; */
	box-shadow: -10px 10px 10px gray;
}

body {
	gap: 1rem;
}
