.boxBar {
	z-index: 1;
	width: 100%;
	position: fixed;
	box-shadow: 0.3em 0.3em 1em rgb(255 255 255 / 100%);
	top: 0;
	left: 0;
}

.bar {
	height: 21px;
	background: white;
	opacity: 0.75;
	width: 0%;
}

body {
	height: 1200px;
	background: black;
}
